{% extends '@HeimrichHannotTwigTemplates/member/member_default.html.twig' %}

{% block message %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endblock %}

{% block submit %}
    <div class="widget widget-submit">
        <button type="submit" class="submit btn btn-default">{{ slabel|default }}</button>
    </div>
{% endblock %}